<%= form_with(model: mactan, local: true) do |form| %>
  <% if mactan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mactan.errors.count, "error") %> prohibited this mactan from being saved:</h2>

      <ul>
      <% mactan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :hotel_name_ja %>
    <%= form.text_field :hotel_name_ja %>
  </div>

  <div class="field">
    <%= form.label :hotel_name_en %>
    <%= form.text_field :hotel_name_en %>
  </div>

  <div class="field">
    <%= form.label :hotel_lank %>
    <%= form.number_field :hotel_lank %>
  </div>

  <div class="field">
    <%= form.label :hotel_area %>
    <%= form.text_field :hotel_area %>
  </div>

  <div class="field">
    <%= form.label :hotel_image %>
    <%= form.text_field :hotel_image %>
  </div>

  <div class="field">
    <%= form.label :hotel_image_text %>
    <%= form.text_field :hotel_image_text %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
