<p id="notice"><%= notice %></p>

<p>
  <strong>Hotel name ja:</strong>
  <%= @mactan.hotel_name_ja %>
</p>

<p>
  <strong>Hotel name en:</strong>
  <%= @mactan.hotel_name_en %>
</p>

<p>
  <strong>Hotel lank:</strong>
  <%= @mactan.hotel_lank %>
</p>

<p>
  <strong>Hotel area:</strong>
  <%= @mactan.hotel_area %>
</p>

<p>
  <strong>Hotel image:</strong>
  <%= @mactan.hotel_image %>
</p>

<p>
  <strong>Hotel image text:</strong>
  <%= @mactan.hotel_image_text %>
</p>

<%= link_to 'Edit', edit_mactan_path(@mactan) %> |
<%= link_to 'Back', mactans_path %>
