<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>CEBU LABO</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:700%7CNunito:300,600" rel="stylesheet">

    <!-- Bootstrap -->
   <!--  <link type="text/css" rel="stylesheet" href="cebulabo/app/assets/stylesheets/bootstrap.min.css"> -->

    <!-- Font Awesome Icon -->
    <!-- <link rel="stylesheet" href="cebulabo/app/assets/stylesheets/font-awesome.min.css"> -->

    <!-- Custom stlylesheet -->
    <%= stylesheet_link_tag "application", :media => "all" %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    </head>
  <body>

   <!-- Header -->
    <header id="header">
      <!-- Nav -->
      <div id="nav">
        <!-- Main Nav -->
        <div id="nav-fixed">
          <div class="container">
            <!-- logo -->
            <div class="nav-logo">
              <a href="/" class="logo"><%= image_tag 'logo.png'%></a>
            </div>
            <!-- /logo -->

            <!-- nav -->
            <ul class="nav-menu nav navbar-nav">
              <li><a href="/">ホーム</a></li>
              <li><a href="/cities">セブ市内ホテル</a></li>
              <li class="cat-1"><a href="/mactans">マクタン島ホテル</a></li>
              <li class="cat-2"><a href="/others">セブその他エリアホテル</a></li>
              <li class="cat-3"><a href="/">航空券</a></li>
              <li class="cat-4"><a href="/blogs">ブログ</a></li>
            </ul>
            <!-- /nav -->

            <!-- search & aside toggle -->
            <div class="nav-btns">
              <button class="aside-btn"><i class="fa fa-bars"></i></button>
              <button class="search-btn"><i class="fa fa-search"></i></button>
              <div class="search-form">
                <input class="search-input" type="text" name="search" placeholder="Enter Your Search ...">
                <button class="search-close"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <!-- /search & aside toggle -->
          </div>
        </div>
        <!-- /Main Nav -->

        <!-- Aside Nav -->
        <div id="nav-aside">
          <!-- nav -->
          <div class="section-row">
            <ul class="nav-aside-menu">
              <li><a href="index.html">Home</a></li>
              <li><a href="about.html">セブラボについて</a></li>
              <li><a href="#">セブ島ホテル</a></li>
              <li><a href="#">セブ島ブログ</a></li>
              <li><a href="contact.html">コンタクト</a></li>
            </ul>
          </div>
          <!-- /nav -->

          <!-- widget posts -->
          <div class="section-row">
            <h3>最新の投稿</h3>
            <div class="post post-widget">
              <a class="post-img" href="blog-post.html"><%= image_tag 'post-1.jpg'%></a>
              <div class="post-body">
                <h3 class="post-title"><a href="blog-post.html">Pagedraw UI Builder Turns Your Website Design Mockup Into Code Automatically</a></h3>
              </div>
            </div>

            <div class="post post-widget">
              <a class="post-img" href="blog-post.html"><%= image_tag 'post-1.jpg'%></a>
              <div class="post-body">
                <h3 class="post-title"><a href="blog-post.html">Why Node.js Is The Coolest Kid On The Backend Development Block!</a></h3>
              </div>
            </div>

            <div class="post post-widget">
              <a class="post-img" href="blog-post.html"><%= image_tag 'post-1.jpg'%></a>
              <div class="post-body">
                <h3 class="post-title"><a href="blog-post.html">Tell-A-Tool: Guide To Web Design And Development Tools</a></h3>
              </div>
            </div>
          </div>
          <!-- /widget posts -->

          <!-- social links -->
          <div class="section-row">
            <h3>Follow us</h3>
            <ul class="nav-aside-social">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
            </ul>
          </div>
          <!-- /social links -->

          <!-- aside nav close -->
          <button class="nav-aside-close"><i class="fa fa-times"></i></button>
          <!-- /aside nav close -->
        </div>
        <!-- Aside Nav -->
      </div>
      <!-- /Nav -->

      <!-- Page Header -->

    </header>
    <!-- /Header -->

<body>

  <%= yield %>

</body>


    <!-- Footer -->
    <footer id="footer">
      <!-- container -->
      <div class="container">
        <!-- row -->
        <div class="row">
          <div class="col-md-5">
            <div class="footer-widget">
              <div class="footer-logo">
                <a href="index.html" class="logo"><%= image_tag 'logo.png'%></a>
              </div>
              <ul class="footer-nav">
                <li><a href="#">プライバシーポリシー</a></li>
                <li><a href="#">広告</a></li>
              </ul>
              <div class="footer-copyright">
                <span>&copy; <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved |  <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">セブ島ホテル研究所（セブラボ）</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></span>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="row">
              <div class="col-md-6">
                <div class="footer-widget">
                  <h3 class="footer-title">セブラボについて</h3>
                  <ul class="footer-links">
                    <li><a href="about.html">セブラボとは</a></li>
                    <li><a href="#">一緒に働きませんか？</a></li>
                    <li><a href="contact.html">コンタクト</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-6">
                <div class="footer-widget">
                  <h3 class="footer-title">カテゴリー</h3>
                  <ul class="footer-links">
                    <li><a href="category.html">セブ市内ホテル</a></li>
                    <li><a href="category.html">マクタン島ホテル</a></li>
                    <li><a href="category.html">レストラン</a></li>
                    <li><a href="category.html">ブログ</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="footer-widget">
              <h3 class="footer-title">メールマガジンの登録</h3>
              <div class="footer-newsletter">
                <form>
                  <input class="input" type="email" name="newsletter" placeholder="Enter your email">
                  <button class="newsletter-btn"><i class="fa fa-paper-plane"></i></button>
                </form>
              </div>
              <ul class="footer-social">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
              </ul>
            </div>
          </div>

        </div>
        <!-- /row -->
      </div>
      <!-- /container -->
    </footer>
    <!-- /Footer -->

    <!-- jQuery Plugins -->
<!--     <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script> -->




